
div.card {
    display: inline-block;
    width: 300px;
    vertical-align: top;
    margin: 0px;
    padding-left: 10px;
    border: 1px solid #6423af33;;
}

img.card {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 300px;
}

div.card img {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 240px;
    height: 200px;
}





