.bike__box {
    max-width: 1800px;    
  }
  
.bike__title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  background-color: var(--color-yellow-main);;
}
  
.main-info{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
  
.bike__img-wrapper {
  width: 60%;
  margin: 0px 0px 50px 0px;
}
  
.bike__img-wrapper img {
  aspect-ratio: 1 / 1;
  overflow: hidden; 
  object-fit: contain;
  height: 80%;
  width: 100%;
}
  
.details_content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0px 20px;
  width: 35%;
  font-size: 14px;
}

.button{
    background-color: var(--color-yellow-main);
}

  

