.form{
    max-width: 600px;
}
.button.second{
    background-color: var(--color-purple-main);
}

button:disabled{
    background-color: #bcf0f1;
    cursor: not-allowed;
}

.invalid{
    background-color: red;
}